@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card: #252a41;
  --dark-card-hover: hsl(228, 25%, 27%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card: hsl(227, 47%, 96%);
  --light-card-hover: hsl(228, 33%, 91%);
  --light-text1: hsl(230, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
  --background: var(--light-bg);
  --text-color: var(--light-text2);
  --text-color2: var(--light-text1);
}

body {
  background-color: var(--dark-bg);
}

.container {
  background-color: var(--dark-bg);
  color: var(--dark-text2);
}

/* FONT STYLES */

.bottom-header {
  font-family: "graduate";
  text-align: center;
  display: inline;
}

.subtitle {
  color: var(--dark-text1);
}

/* TEAM HEADER STYLES */

/* was getting build fail adding align-center here */
.team-header {
  @apply h-60 flex flex-col justify-center  items-end md:mb-8;
}

.home-button-bar {
  @apply py-4 flex justify-between items-center px-7 sm:px-12 lg:px-56 mx-auto lg:order-first;
}

.all-games-btn {
  @apply px-4 py-2 rounded text-lg self-center mt-2;
}

/* FAVORITE BTN SLIDER */
.favorite-btn-header {
  @apply mb-2 subtitle font-bold;
}

.favorite-btn {
  @apply relative inline-flex items-center h-7 w-16 rounded-full border-black;
}

.favorite-btn-slider {
  @apply bg-lightGray inline-block h-8 w-8 rounded-full shadow-lg ring-0  transform ease-in-out duration-200;
}

.deselected {
  @apply translate-x-0 !important;
}

.selected {
  @apply translate-x-9 !important;
}

/* MATCHUP CARD STYLES */

/* THE LONG MATCHUP CARDS */
.first-and-last-game-card {
  @apply max-w-xl lg:col-start-1 lg:col-span-2 mx-auto  max-h-52;
}

.first-and-last-game-info {
  @apply flex justify-between content-center mx-auto max-w-lg md:max-w-xl;
}

/* THE SHORT MATCHUP CARDS */
.teamcard {
  background-color: var(--dark-card);
  color: var(--dark-text2);
  position: relative;
  @apply rounded-md py-6 mb-6 sm:mb-0 flex items-center;
}

.teamcard-info {
  @apply w-24 h-32 flex flex-col justify-between items-center text-center self-center;
}

/* THE GRADIENT BORDERS ON TOP OF MATCHUP CARDS */
.gradient-border {
  content: "";
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}

.non-gradient-border {
  content: "";
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}

/* TABLE STYLES */

.tableRow {
  background-color: var(--dark-card);
}

table {
  width: 98%;
}

td,
th {
  text-align: center;
  padding: 0.25em;
}

td img {
  margin-left: auto;
  margin-right: auto;
}

.table-logo {
  max-width: 65%;
  max-height: 65%;
}

.outlinedTeam {
  border: 1px solid;
}

.teamcard-logo {
  max-width: 85%;
  max-width: 85%;
}

/* DOUGHNUT CHARTS STYLES */

.doughnut-chart-grid {
  @apply divide-y-2 divide-solid divide-gray-200 sm:divide-none sm:grid-cols-2 md:grid-cols-3 md:gap-8 sm:grid pb-20;
}

/* CUSTOM PING ANIMATIONS */
.ping {
  animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1) 4;
}

@keyframes ping {
  85%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* LOADING SPINNER STYLES */

.spinner-background {
  @apply max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl mx-auto flex justify-center relative;
}

.spinner-and-img-container {
  @apply mt-48 flex flex-col justify-center content-center;
}

/* HEADLESS UI SLIDER BTN OVERRIDE */

/* MEDIA QUERIES */

@media (min-width: 300px) {
  td,
  th {
    padding: 0.75em;
  }
}

@media (min-width: 450px) {
  table {
    width: 85%;
  }
  td,
  th {
    padding: 1.5em 1em;
  }
  .teamcard-logo,
  .table-logo {
    max-width: 100%;
    height: auto;
  }
}
